.contenedor{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    background: crimson;
    color: #fff;
    // son 3 columns de un fr
    // columns y el tamaño
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.item{
    width: 100%;
    height: 30%;
    background-color: chartreuse;
    // grid-column: 3 / 3;
    // grid-row: 1;
}