.card{
    margin: 0;
    padding: 0;
    width: 300px;
    // height: 555px;
    position: relative;
    margin-top: 1rem;
    background-color: #f2f2f2;
    border-radius: 0.8rem;
    text-align: justify;
    overflow: hidden;
    &:hover{
        cursor: pointer;
    }
}

.card p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 0.7rem;
}

.card div{
    // padding: 10px;
    margin: 1rem;
}

.card img{
    margin-top: 1rem;
    height: 300px;
    width: 100%;
    padding: 0;
    margin: 0;
    // border-end-end-radius: 0.8rem;
    width: 100%;
    // transition: 0.2s all;
    &:hover{
        opacity: 0.5;
        transform: scaleX(-1);
    }
}

.card svg {
    position: absolute;
    width: 2rem;
    top: 1rem;
    right: 1rem;
}


.botones{
    // background-color: #11324D;
    height: 100%;
    // width: 100%;
}

.card input {
    margin: auto;
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: darkred;
    border: 1px solid darkred;
    border-radius: 0.8rem;
    width: 100%;
    text-transform: capitalize;
    &:hover {
        background-color: darkred;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
    }
}

.card .estado {
    position: absolute;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    top: 1rem;
    left: 1rem;
    border: 1px solid transparent;
    width: 50%;
    &:hover {
    color: #fff;
        border: 1px solid transparent;
    }
}

.card .estadoVivo{
background-color: #005792;
}

.card .estadoMuerto{
background-color: #1B1A17;
}

.card .estadoDesconocido{
background-color: #EDEDED;
color: #444444;
}
// .card div p{

// }

.negritas::first-letter{
    text-transform: uppercase;
}
.negritas{
    font-size: 0.8rem;
    font-weight: 600;
    // letter-spacing: 2px;
}