<section *ngIf="data$ | async as d; else nodta;">
    <!-- {{ d | json }} -->
    <input class="botonR" routerLink="/inicio" type="button" value="Inicio">
    <div class="d-flex">
        <div class="mitad">
            <div class="centro">
                <p>nombre: </p>
            <p>  {{  d.name }}</p>
            </div>

            <div class="centro">
                <p>Estado: </p>
            <p>  {{  d.status }}</p>
            </div>

            <div class="centro">
                <p>Especies: </p>
            <p>  {{  d.species }}</p>
            </div>

            <div class="centro">
                <p>genero: </p>
            
            <p *ngIf="d.gender === 'Female'">  {{  d.gender | generoEs }}</p>
            <p *ngIf="d.gender === 'Male'">  {{  d.gender | generoEs }}</p>
            </div>

            <div class="centro">
                <p>origen: </p> 
            <p>  {{  d.origin.name }}</p>
            </div>
            <div class="centro">
                <p>location: </p>
                <p>  {{  d.location.name }}</p>
            </div>
            <!-- <p>url </p>
            <p>  {{  d.url }}</p> -->
        </div>
        <div>
            <img [src]="d.image" [alt]="d.name">
        </div>
    </div>
    <!-- <p>episodios donde aparecio:</p> -->
     <!-- <select [formControl]="select" name="d" id="">
        <option [ngValue]="null" disabled selected>Selecciona un Capitulo</option>
        <option *ngFor="let item of d.episode" [value]="item" >{{  item }}</option>
    </select>  -->
    <mat-form-field  name="d" appearance="fill">
        <mat-label>Capitulo en que aparece</mat-label>
        <mat-select [formControl]="select">
          <mat-option *ngFor="let item of d.episode" [value]="item">
            {{item}}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="episodioNgModel" class="tarjeta">
        <p *ngIf="episodioNgModel?.name">Nombre del episodio: {{ episodioNgModel?.name }} </p>
        <p *ngIf="episodioNgModel?.name">Fecha de creacion: {{ episodioNgModel?.air_date }} </p>
        <p *ngIf="episodioNgModel?.name">Temporada: {{ episodioNgModel?.episode }} </p>
        <p *ngIf="episodioNgModel?.name">Fecha de lanzamiento: {{ episodioNgModel?.created | date }} </p>
    </div>
    <p *ngIf="episodioNgModel?.name" class="g">
        Personajes que aparecieron:
    </p>
    <div *ngIf="episodio$ | async as episodios" class="tarjetas">
        <!-- <img style="width: 135vw; height: 500px;" src="" alt=""> -->
        <img class="posicion" *ngFor="let item of episodios" [src]="item" [alt]="item" />
    </div>
    
</section>

<ng-template #nodta>
    <input class="botonR" routerLink="/inicio" type="button" value="Inicio">
</ng-template>