// p{
//     color: #fff;
// }
section{
    min-height: 100vh;
    min-width: 100vw;
    padding: 2rem;
}

// @media screen and (min-width: 360px){
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #fff;
    padding: 2rem;
    border-radius: 1rem;    
    // background-color: teal;
    color: #fff;
    
}

section .d-flex div p{
    margin-bottom: 0.7rem;
    font-weight: 600;
    
}
.mitad{
    width: 50%;
}
.mitad p:nth-child(even){
    background-color: crimson;
    padding: 0.3rem;
    border-radius: 8px;
    font-weight: 300 !important;
}

img{
    border-radius: 0.8rem;
    object-fit: cover;
    height: 400px;
    box-shadow: 5px 16px 5px solid;
    margin: 4px 0;
}

section select option {
    color: #000;
    &:hover{
        cursor: pointer;
    }
}

.tarjeta{
    border-radius: 0.8rem;
    text-align: justify;
    margin: 2rem auto;
    padding: 2rem;
    width: 40%;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    
    // letter-spacing: 5px;
    font-weight: 300;
}

.tarjetas{
    // border: 1px solid #fff;
    padding-left: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1rem;
    overflow-wrap: break-word;
    overflow-x: scroll;
    position: relative;
}

.posicion{
    margin-left: 2rem;
}

select {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    width: 30%;
    display: block;
    font-size: 1rem;
}

.g{
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 600;
}

.botonR{
    padding: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    display: block;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    // float: right;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    &:hover{
        color: #fff;
        background-color: #171717;
        border: 1px solid #fff;
    }
}


@media screen and (max-width: 500px){
    section{
        width: 90%;
    }
    .botonR{
        width: 80%;
        margin: 1rem auto;
    }

    .d-flex{
        // flex-flow: column wrap;
        padding: 0.3rem;
        // margin: auto;
    }
    .mitad{
        width: auto;
    }
    .mitad p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1rem;
        text-transform: capitalize;
        margin-bottom: 0.7rem;
    }
    img{
        width: 80%;
        margin: auto;
        display: block;
    }
    select{
        width: 80%;
    }
    .tarjeta{
        width: 90%;
    }
}