<section *ngIf="data$ | async as d; else nodta;">
    <input class="botonR" routerLink="/inicio" type="button" value="Inicio">
    <div class="d-flex">
        <div class="mitad">
            <p>nombre: </p>
            <p>  {{  d.name }}</p>
            <p>Estado: </p>
            <p>  {{  d.status }}</p>
            <p>Especies: </p>
            <p>  {{  d.species }}</p>
            <p>genero: </p>
            <p>  {{  d.gender | generoEs }}</p>
            <p>origen: </p> 
            <p>  {{  d.origin.name }}</p>
            <p>location: </p>
            <p>  {{  d.location.name }}</p>
            <!-- <p>url </p>
            <p>  {{  d.url }}</p> -->
        </div>
        <div>
            <img [src]="d.image" [alt]="d.name">
        </div>
    </div>
    <!-- <p>episodios donde aparecio:</p> -->
    <select [formControl]="select" name="d" id="">
        <option [ngValue]="null" disabled selected>Selecciona un Capitulo</option>
        <!-- value y ngValue es lo mismo solo que con ngValue puede ser tambien un objeto  -->
        <!-- <option *ngFor="let item of d.episode" [ngValue]="item">{{  item }}</option> -->
        <option *ngFor="let item of d.episode" [value]="item" >{{  item }}</option>
    </select>
    <div *ngIf="episodioNgModel" class="tarjeta">
        <p *ngIf="episodioNgModel?.name">Nombre del episodio: {{ episodioNgModel?.name }} </p>
        <p *ngIf="episodioNgModel?.name">Fecha de creacion: {{ episodioNgModel?.air_date }} </p>
        <p *ngIf="episodioNgModel?.name">Temporada: {{ episodioNgModel?.episode }} </p>
        <p *ngIf="episodioNgModel?.name">Fecha de lanzamiento: {{ episodioNgModel?.created | date }} </p>
    </div>
    <p *ngIf="episodioNgModel?.name" class="g">
        Personajes que aparecieron:
    </p>
    <div *ngIf="episodio$ | async as episodios" class="tarjetas">
        <!-- <img style="width: 135vw; height: 500px;" src="" alt=""> -->
        <img class="posicion" *ngFor="let item of episodios" [src]="item" [alt]="item" />
    </div>
    
</section>

<ng-template #nodta>
    <input class="botonR" routerLink="/inicio" type="button" value="Inicio">
</ng-template>