<ng-container *ngIf="personajes.length !== 0; else nodata">
    <div class="nav">
        <a routerLink="/inicio">inicio</a>
        <a routerLink="/inicio/favorito">Favoritos</a>
    </div>
    <div class="cards">
        <app-card *ngFor="let item of personajes" [personaje]="item" [lugar]="'favorito'" (personajeEliminar)="hola2($event)"></app-card>
    </div>
    <div class="marge todo">
        <input [disabled]="paginacion === 0" (click)="nPaginacion(-1)" type="button" value="regresar" />
        <input [disabled]="paginacion === ((limite!-1) <= 0 ? 0 : (limite!-1))" (click)="nPaginacion(1)" type="button" value="siguiente" />
    </div>
</ng-container>


<ng-template #nodata>
    <div class="cards">
        <div class="w40">
            <p>no hay datos</p>
            <a routerLink="/inicio">
                <input type="button" value="Inicio">
            </a>
            <div class="marge todo">
                <input [disabled]="paginacion === 0" (click)="nPaginacion(-1)" type="button" value="regresar" />
                <input [disabled]="paginacion === (limite!-1) || personajes.length === 0" (click)="nPaginacion(1)" type="button" value="siguiente" />
            </div>
        </div>
        <div class="w40">

            <img src="assets/img/img.svg" alt="">
        </div>
    </div>
</ng-template>