<section *ngIf="response$ | async as res;">
    <form>
        <div class="buscador">
            <input [formControl]="buscador" type="text" name="buscador" id="buscador" placeholder="personaje">
            <!-- <input [(ngModel)]="dd" (keyup)="escribe()" type="text" name="buscador" id="buscador"> -->
            
            <!-- <input #inputt (input)="conseguir(inputt.value)" id="search-box" type="text" name="buscador"> -->
            <!-- <input [(ngModel)]="dd" (ngModelChange)="escribe()" id="search-box2" type="text" name="buscador"> -->
            <div class="nav">
                <a routerLink="/inicio">inicio</a>
                <a routerLink="/inicio/favorito">Favoritos</a>
                <!-- <a routerLink="/auth">Login</a> -->
            </div>
        </div>
    </form>
    <div class="cards" *ngIf="res?.results?.length; else nodata">
        <ng-container *ngFor="let item of res?.results" class="card">
            <app-card [personaje]="item" [lugar]="'normal'" (personajeEliminar)="hola2($event)"></app-card>
        </ng-container>
    </div>
    <div class="botones">
        <input [disabled]="!res?.info?.prev" (click)="paginacion(res?.info?.prev!)" type="button" value="regresar" />
        <input [disabled]="!res?.info?.next" (click)="paginacion(res?.info?.next!)" type="button" value="siguiente" />
    </div>
    
    <ng-template class="cards" #nodata>
        <img class="img" src="assets/img/img.svg" alt="">
        <div class="no-datos"><p class="centro">no hay datos</p></div>
    </ng-template>
</section>
<div *ngIf="loading$ | async">
    <div class="loader"></div>
</div>